module.exports = {
	"root": true,
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"plugin:vue/essential"
	],
	"rules": {
		"no-console": "off",
		"no-debugger": "off",
		"no-unused-vars": "off",
		"no-extend-native": "off",
		"standard/no-callback-literal": "off",
		"vue/multi-word-component-names": "off",
		"vue/no-unused-components": "off",
		"vue/no-mutating-props": "off",
		"vue/no-reserved-component-names": "off",
		"vue/no-unused-vars": "off"
	},
	"parserOptions": {
		"parser": "babel-eslint"
	}
}
